<div class="crump-dropdown-wrapper" >
    <input type="text" [attr.value]="dropdownValue" [placeholder]='placeholder' [disabled]="disabled" [ngClass]="invalid ? 'invalid' : ''" class="dropdown" (keyup)="filter($event)" (focus)="toggleDropdown()"/>
    
    <ul class="dropdown-container" *ngIf="isOpen" [ngStyle]="{'max-height.px': maxHeight}">
        <li class="dropdown-list" *ngFor="let option of filterOptions" [attr.data-value]="option.value" [class]="option.status ?? ''" (click)="onSelect(option)">{{option.option}}</li>
    </ul>
</div> 